.message-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.233);
}

.message-box .message-box-dialog {
    width: 444px;
    min-width: 444px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ms-message-box--content {
    padding: 32px;
}

.content {
    display: flex;
    align-items: flex-start;
}

.mess-line {
    height: 1px;
    background: #b8bcc3;
    margin-bottom: 20px;
}

.mess-footer {
    position: relative;
    height: 36px;
    display: flex;
}

.message-content {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 12px;
}

.ms-message-box--content .mess-footer {
    justify-content: center;
}